{% extends 'model-page.html' %}

{% block content %}
<H3 style="font-size: 22px;
               font-family: 'Arial Black';
                text-align: center">Cadastrar</H3>


<form action="submit" method="post">{% csrf_token %}


    <label>Nome:</label>
    <input type="number" size="26"  name="id" value="{{ cliente.id }} " hidden >
    <input type="text" size="26"  name="nome" value="{{ cliente.nome }}" >
    <br>
    <br>
    <label>Idade:</label>
    <input type="text" name="idade" size="26" value="{{ cliente.idade }}">
    <br>
    <br>
    <label>Email:</label>
    <input type="text" name="email" size="26" value="{{ cliente.email }}" >
    <br>
    <br>
    <button type="submit" style="font-size: 16px">Salvar</button>
     <a href="/"><button type="button" style="font-size: 16px">Voltar</button></a>
    </form>
</div>
{% endblock %}
